name: Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'microsoft'
          java-version: 21.0.2

      - name: Set up Gradle
        uses: gradle/actions@v3

      - name: Run Tests
        run: ./gradlew :reflow:cleanJvmTest :reflow:jvmTest